.container{
  max-width: 120rem;
  margin: 8rem auto;
  background-color: $color-grey-light-2;

  -webkit-box-shadow: $shadow-dark;
  -moz-box-shadow: $shadow-dark;
  box-shadow: $shadow-dark;

  min-height: 50rem;
}

.header{

}

.content{

}

.sidebar{

}

.hotel-view{

}