.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: $color-grey-light-1;

  -webkit-box-shadow: $shadow-dark;
  -moz-box-shadow: $shadow-dark;
  box-shadow: $shadow-dark;

  min-height: 50rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #ffffff;
  border-bottom: $line;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: $color-grey-dark-1;

  flex: 0 0 18%; // flex-grow , flex-shrink , flex-basis

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #ffffff;
  flex: 1;
}

// Gallery
.gallery {
  display: flex;
  &__photo {
    width: 100%;
    display: block;
  }
}

// Btn Inline
.btn-inline {
  border: none;
  color: $color-primary;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;

  & span {
    margin-left: 3px;
    transition: all 0.2s;
  }

  &:hover {
    color: $color-grey-dark-1;

    span {
      margin-left: 8px;
    }
  }
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: $color-grey-light-1;
  border-bottom: $line;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  background-color: #ffffff;

  -webkit-box-shadow: $shadow-light;
  -moz-box-shadow: $shadow-light;
  box-shadow: $shadow-light;

  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-review {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}