.form {
  &__group:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    background-color: rgba($color-white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    @include respond(tab-port) {
      width: 100%;
    }

    &::-webkit-input-placeholder {
      color: $color-gray-dark-2;
    }

    &:focus {
      outline: none;

      -webkit-box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      -o-box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      -moz-box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);

      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;

    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  &__input:placeholder-shown + &__label {
    -moz-opacity: 0;
    opacity: 0;

    visibility: hidden;

    -o-transform: translateY(-4rem);
    -moz-transform: translateY(-4rem);
    -ms-transform: translateY(-4rem);
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 5rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.5rem;

    &::after{
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;

      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: 50%;

      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);

      background-color: $color-primary;

      -moz-opacity: 0;
      opacity: 0;

      -webkit-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked + &__radio-label &__radio-button::after{
    -moz-opacity: 1;
    opacity: 1;
  }
}