* {
    margin: 0;
    padding: 0;
}

#contactform {
    text-align: center;
}

#container {
    width: 600px;
    margin: 0 auto;
}

form {
    margin-top: 40px;
}

fieldset {
    padding: 40px;
    border: solid 1px #aaa;
    background: url('../img/blue_background.jpg');
}

fieldset legend {
    background: white;
    padding: 10px;
    border: solid 1px #aaa;
}

fieldset label {
    border: solid 1px #333;
    border-bottom: none;
    font-size: 12px;
    text-transform: uppercase;
    background: url('../img/red_background.jpg');
    display: block;
    width: 50%;
    padding: 2%;
    color: black;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    padding: 10px;
    margin: 0 0 20px;
    border: solid 1px #333;
    display: block;
    width: 50%;
    font-size: 14px;
    color: #777;
    font-family: monospace;
    text-transform: uppercase;
}

textarea {
    resize: none;
}

input[type="submit"] {
    background: none;
    background: url('../img/button_background.jpg') repeat-x;
    border: solid 1px #777;
    height: 40px;
    padding: 0 40px;
    color: white;
}